@import "tailwindcss";


@theme {
  --color-primary: #5cb85c;
  --color-dark-bar: #3c306d;
  --color-light-bg: #f9f9f9;
  --color-search: #f4f4f4;
  --font-inter: var(--font-inter);
  --font-manrope: var(--font-manrope);
}

/* Custom components using @apply */
@layer components {
  .nav-link-active {
    @apply text-[--color-primary] relative;
  }

  /* v4 mein complex pseudo-elements (::after) ko 
     @apply ke andar likhne ki bajaye direct CSS mein likhna behtar hai */
  .nav-link-active::after {
    content: "";
    position: absolute;
    bottom: -26px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-primary);
  }

  h1 {
    @apply font-extrabold text-white leading-tight;
  }
  
  .section-tag {
    @apply text-[--color-primary] font-bold text-sm tracking-widest uppercase;
  }
}

body {
  @apply antialiased bg-white text-slate-900;
  font-family: var(--font-inter), sans-serif;
}